.expand_item {
  margin-top: auto;
  position: relative;
  max-width: 80%;
  height: 375px;
  background: rgba(0, 0, 0, 0.8);
  ;
  margin: auto;
  margin-top: 10%;
}

.expand_img_container {
  position: absolute;
  width: 55%;
  height: 375px;
}

.expand_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.expand_close {
  position: absolute;
  right: 0.5%;
  top: 1%;
  font-size: 15px;
  color: white;
  width: 24px;
  height: 24px;
  background-image: url("../img/close.png");
  background-color: transparent;
  border: 0;
}

.expand_profile {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 60%;
  top: 10%;
}

.expand_username {
  position: absolute;
  left: 67%;
  top: 11%;
  font-size: 15px;
  color: white;
}

.expand_fullname {
  position: absolute;
  left: 67%;
  top: 16%;
  font-size: 15px;
  color: white;
}

.expand_post {
  position: absolute;
  left: 60%;
  top: 30%;
  font-size: 15px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .expand_item {
    position: relative;
    max-width: 80%;
    height: 70%;
    background: rgba(0, 0, 0, 0.8);
    ;
    margin: auto;
    margin-top: 20%;
  }

  .expand_img_container {
    position: absolute;
    width: 100%;
    height: 50%;
  }

  .expand_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .expand_profile {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 5%;
    top: 53.5%;
  }
  .expand_username {
    position: absolute;
    left: 25%;
    top: 54%;
    font-size: 0.8em;
    color: white;
  }
  .expand_fullname {
    position: absolute;
    left: 25%;
    top: 59%;
    font-size: 0.8em;
    color: white;
  }
  .expand_post {
    position: absolute;
    left: 5%;
    top: 68%;
    font-size: 0.8em;
    color: white;
    word-break: break-all;
    max-width: 90%;
    max-height: 90%;
  }
}
