.body {
  width: 100%;
  height: 100px;
  background-color: #C55C5D;
}

.headline {
  font-size: 16px;
  color: white;
  padding: 5px;
  text-align: center;
}

.filter {
  text-align: center;
  padding: 10px;
  padding-top: 25px;
}

.icon {
  font-size: 50px;
  margin-right: 50px;
  color: #fff;
}

.icon:hover {
  color: #000;
}
