.HeaderBackground {
  max-height: 200px;
  overflow: hidden;
}

.Navigation {
  float: right;
  margin-top: 10px;
  position: absolute;
  right: 10px;
  top: 0px;
}

.subNavigation {
  float: right;
  margin-top: 10px;
  position: absolute;
  right: 10px;
  top: 140px;
}

.Navigation button, .Navigation a, .subNavigation button {
  padding: 5px;
  width: 120px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0;
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

.Navigation a:hover {
  color: #000;
  text-decoration: underline;
}

.Header {
  height: 200px;
  width: 100%;
  background-color: grey;
  position: relative;
}

.EventName {
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.backgroundImageList {
  list-style: none;
  padding: 0;
}

.backgroundImageList li {
  display: inline;
}

.backgroundImageList li>img {
  height: 40px;
  width: 40px; //opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
