.flex_item {
  overflow: hidden;
  position: relative;
  height: 300px;
  margin-bottom: 30px;
}

.flex_img {
  position: absolute;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  /* For the following settings we set 100%, but it can be higher if needed
    See the answer's update */
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  filter: brightness(50%);
}


/*.flex_item:hover {
    background-color: #e6e6e6;
}*/

.profile {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  left: 5%;
  top: 6%;
}

.user_name {
  position: absolute;
  left: 24%;
  top: 7%;
  font-size: 15px;
  color: white;
}

.user_fullname {
  position: absolute;
  left: 24%;
  top: 13.5%;
  font-size: 15px;
  color: white;
}

.social_icon {
  position: absolute;
  left: 80%;
  top: 5%;
  width: 24px;
  height: 24px;
}
